* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.clearfix:after, #body .sidebar .mini_project_wrap .mini_project_search:after, #body footer.footer:after, #body #content .content_header:after, #body #content .content_body:after, .filter-options-box:after, .block:after, .chart.column_chart:after, .pie_chart_wrap:after {
  content: "";
  display: block;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.nodis {
  display: none;
}

:focus {
  outline: none;
}

html,
body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.2;
  color: #373D49;
}

body {
  background-color: #22262E;
}

a {
  color: #22262E;
}

a.highlight {
  color: #1791D6;
}

.headline-2 {
  display:block;
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 16px;
}

.headline-3 {
  font-weight: lighter;
  font-size: 16px;
  margin-bottom: 16px;
}

.headline-4 {
  font-weight: lighter;
  font-size: 12px;
  margin-bottom: 16px;
}

.upper-headline {
  text-transform: uppercase;
  font-weight: bold;
}

.button {
  background-color: #CCCED2;
  color: #373D49;
  line-height: 32px;
  display: inline-block;
  padding: 0 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button.big {
  line-height: 48px;
  padding: 0 24px;
}

.button:hover {
  color: #515A6D;
  background-color: #EFF0F3;
}

.button.red {
  background-color: #F64747;
  color: #fff;
}

.button.blue, #body #content .content_header .content_filters a.filtered {
  background-color: #1791D6;
  color: #fff;
}

.input {
  display: inline-block;
  background-color: #FFF;
  border-radius: 4px;
  border: none;
  box-shadow: inset 0 0 0 1px #EFF0F3;
  height: 32px;
  padding: 0 12px;
  appearance: none;
  -webkit-appearance: none;
  font-size: 14px;
}

.input.big {
  height: 48px;
  padding: 0 24px;
}

.input.clearInput {
  box-shadow: none;
  border-radius: 0;
}

.input.filter-options.active {
  box-shadow: inset 0 0 0 1px #A2A5AB;
}

.check_label {
  font-size: 14px;
  line-height: 24px;
  margin: 8px 0;
}

.check_label .label_title {
  display: inline-block;
  margin-left: 8px;
  vertical-align: middle;
  line-height: 24px;
}

.label_manip {
  display: none;
}

.label_control {
  display: inline-block;
  cursor: pointer;
}

.site_logo {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.site_logo img {
  max-height: 60px;
  vertical-align: middle;
  margin-right: 6px;
}

.site_logo span {
  color: #fff;
}

header.header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #fff;
  top: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  z-index: 6000;
}

header.header .header_logo {
  width: 220px;
  background-color: #22262E;
  color: #fff;
  line-height: 60px;
  float: left;
  position: relative;
}

header.header .header_logo a {
  color: #fff;
}

header.header .header_logo .site_logo {
  width: 100%;
  padding-left: 20px;
}

header.header .header_menus {
  float: left;
  width: calc(100% - 220px);
  line-height: 60px;
}

header.header .header_menus .left_menu {
  float: left;
  padding-left: 32px;
}

header.header .header_menus .left_menu .notification_icon {
  margin-right: 24px;
  position: relative;
}

header.header .header_menus .left_menu .notification_icon:after {
  content: attr(data-count);
  position: absolute;
  border-radius: 100%;
  color: #fff;
  font-size: 10px;
  text-align: center;
  line-height: 16px;
  min-width: 16px;
  background-color: #F64747;
  top: 23%;
  right: -7px;
  box-shadow: 0 0 0 1px #fff;
}

header.header .header_menus .left_menu .notification_icon[data-count="0"]:after, header.header .header_menus .left_menu .notification_icon[data-count=""]:after {
  display: none;
}

header.header .header_menus .left_menu .notification_dropdown {
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  padding: 16px 24px;
  width: 220px;
  transform: translate(-50%, 0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 5000;
}

header.header .header_menus .right_menu {
  float: right;
  padding-right: 32px;
}

header.header .header_menus .right_menu #header_menu {
  position: relative;
}

header.header .header_menus .right_menu #header_menu > li {
  position: relative;
  display: inline-block;
  margin-right: 38px;
}

header.header .header_menus .right_menu #header_menu > li a:hover {
  opacity: 0.75;
}

header.header .header_menus .right_menu #header_menu > li:last-child {
  margin-right: 0;
}

#body {
  margin-top: 60px;
  background-color: #F6F6F6;
  position: relative;
}

#body .sidebar {
  width: 220px;
  background-color: #1B1E24;
  position: absolute;
  top: 0;
  padding-top: 0;
  min-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 248px;
}

#body .sidebar a {
  color: rgba(255, 255, 255, 0.8);
}

#body .sidebar a i {
  display: inline-block;
  width: 16px;
  text-align: center;
  margin-right: 8px;
}

#body .sidebar a:hover {
  color: #fff;
}

#body .sidebar .mini_project_wrap {
  position: relative;
}

#body .sidebar .mini_project_wrap .headline-2 {
  font-weight: lighter;
  font-size: 22px;
  text-transform: uppercase;
  padding: 0 20px;
  color: #fff;
  line-height: 65px;
  margin-bottom: 0;
}

#body .sidebar .mini_project_wrap .headline-2 .mini_add_project {
  float: right;
  color: #1791D6;
}

#body .sidebar .mini_project_wrap .mini_project_search {
  position: relative;
  background-color: #373D49;
}

#body .sidebar .mini_project_wrap .mini_project_search .clearInput {
  background-color: transparent;
  width: calc(100% - 35px);
  float: left;
  color: #EFF0F3;
  font-weight: lighter;
  padding-left: 20px;
  font-size: 14px;
  font-style: italic;
}

#body .sidebar .mini_project_wrap .mini_project_search .clearInput + .button {
  float: left;
  width: 35px;
  padding: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}

#body .sidebar .mini_project_wrap .mini_project_search .clearInput + .button:hover {
  color: rgba(255, 255, 255, 0.8);
}

#body .sidebar .mini_project_wrap .mini_project_window {
  background-color: #22262E;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects {
  position: relative;
  max-height: 520px;
  overflow-x: hidden;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_menu {
  display: none;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_title {
  display: inline-block;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
  width: 100%;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_title:before {
  content: "";
  float: right;
  width: 12px;
  height: 12px;
  background-image: url("../images/arrow-down.svg");
  background-position: center;
  background-repeat: no-repeat;
  margin: 13px 0;
  display: inline-block;
  margin-left: 4px;
  transform: rotate(90deg);
  opacity: 0.5;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_title:after {
  content: attr(data-count);
  float: right;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  line-height: 18px;
  padding: 0 5px;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
  border-radius: 2px;
  font-size: 12px;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_title.active:before {
  transform: rotate(0deg);
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_title.active:after {
  background-color: #1791D6;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_title.active + .mini_project_menu {
  display: block;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_menu {
  background-color: #0D0F12;
  font-size: 12px;
  padding: 12px 0;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_menu i {
  font-size: 14px;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_menu a {
  padding: 0 20px;
  line-height: 28px;
  display: block;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_menu a.active {
  color: #1791D6;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_menu a.active + .mini_project_submenu {
  display: block;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_menu a + ul a {
  padding-left: 46px;
  line-height: 24px;
}

#body .sidebar .mini_project_wrap .mini_project_window .mini_projects .mini_project_menu a + ul a.active {
  color: #fff;
}

#body .sidebar .sidebar_menu {
  line-height: 44px;
}

#body .sidebar .sidebar_menu li a {
  padding: 0 20px;
  display: inline-block;
  width: 100%;
}

#body .sidebar .sidebar_menu li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#body .site_main {
  margin-left: 220px;
}

#body footer.footer {
  background-color: #22262E;
  padding: 32px;
  padding-bottom: 64px;
  color: rgba(255, 255, 255, 0.8);
}

#body footer.footer .footer_wrap {
  width: 100%;
  max-width: 916px;
}

#body footer.footer .footer_col {
  float: left;
  width: 25%;
}

#body footer.footer .footer_col .headline-3 {
  color: #1791D6;
}

#body footer.footer .footer_col .footer_menu {
  font-size: 14px;
  line-height: 24px;
}

#body footer.footer .footer_col .footer_info {
  line-height: 1.2;
  padding-top: 12px;
}

#body footer.footer .footer_col .footer_info li {
  margin-top: 12px;
}

#body footer.footer .footer_col .footer_info i {
  font-size: 18px;
  display: inline-block;
  margin-right: 4px;
}

#body footer.footer .footer_col a {
  color: rgba(255, 255, 255, 0.8);
}

#body footer.footer .footer_col a:hover {
  color: white;
}

#body #content {
  min-height: 70vh;
  padding: 32px;
}

#body #content .content_header {
  position: relative;
}

#body #content .content_header .realtime_search {
  float: right;
  width: 50%;
  max-width: 446px;
  position: relative;
}

#body #content .content_header .realtime_search .input {
  width: 100%;
  padding-right: 48px;
}

#body #content .content_header .realtime_search .button {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  padding: 0;
  text-align: center;
  background-color: transparent;
}

#body #content .content_header .headline-1 {
  font-size: 32px;
  font-weight: lighter;
  line-height: 48px;
}

#body #content .content_header #breadcrumbs {
  line-height: 32px;
  margin-top: 10px;
  float: left;
}

#body #content .content_header #breadcrumbs li {
  display: inline-block;
}

#body #content .content_header #breadcrumbs li:before {
  content: url("../images/arrow-right-dark.svg");
  display: inline-block;
  margin: 0 4px;
  margin-right: 6px;
}

#body #content .content_header #breadcrumbs li:first-child:before {
  display: none;
}

#body #content .content_header #breadcrumbs li:last-child {
  opacity: 0.5;
}

#body #content .content_header .content_filters {
  float: right;
  line-height: 32px;
  margin-top: 10px;
}

#body #content .content_header .content_filters a {
  font-size: 14px;
  margin-left: 4px;
}

#body #content .content_header .content_filters .filter-options i {
  font-size: 10px;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 24px;
}

#body #content .content_body {
  margin-top: 24px;
  /* max-width: 916px */
}

.filter-options-box {
  position: absolute;
  width: 100%;
  background-color: #FFF;
  z-index: 4000;
  right: 0;
  margin-top: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: none;
}

.filter-options-box.active {
  display: block;
}

.filter-options-box .filter-options-calendar {
  float: left;
  width: 75%;
  padding-right: 24px;
  position: relative;
}

.filter-options-box .filter-options-calendar .option-cal_wrap {
  position: relative;
  font-size: 0;
}

.filter-options-box .filter-options-calendar .option-cal_wrap .single_cal {
  width: calc(100% / 3);
  display: inline-block;
  font-size: initial;
  padding: 0 16px;
  text-align: center;
  box-shadow: 1px 0 #eee;
}

.filter-options-box .filter-options-calendar .option-cal_wrap .single_cal .cal_headline {
  font-size: 16px;
  font-weight: bold;
  color: #1791D6;
}

.filter-options-box .filter-options-calendar .option-cal_wrap .single_cal table.cal_body {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
}

.filter-options-box .filter-options-calendar .option-cal_wrap .single_cal table.cal_body thead td,
.filter-options-box .filter-options-calendar .option-cal_wrap .single_cal table.cal_body td.overflow {
  color: #CCCED2;
}

.filter-options-box .filter-options-calendar .option-cal_wrap .single_cal table.cal_body td {
  width: calc(100% / 7);
}

.filter-options-box .filter-options-calendar .option-cal_wrap .single_cal table.cal_body tbody td:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.filter-options-box .filter-options-calendar .option-cal-control {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 30px;
  padding-right: 32px;
}

.filter-options-box .filter-options-calendar .option-cal-control a.cal_control {
  color: #CCCED2;
  position: relative;
  margin: 0 !important;
  z-index: 2;
}

.filter-options-box .filter-options-calendar .option-cal-control a.cal_control:hover {
  color: #A2A5AB;
}

.filter-options-box .filter-options-calendar .option-cal-control a.cal_control i {
  font-size: 20px;
  vertical-align: middle;
}

.filter-options-box .filter-options-configs {
  float: right;
  width: 25%;
}

.filter-options-box .filter-options-configs .headline-4 {
  margin-bottom: 0;
}

.filter-options-box .filter-options-configs .input {
  width: 100%;
}

.filter-options-box .filter-options-configs .filter-options-actions {
  margin-top: 16px;
}

.filter-options-box .filter-options-configs .filter-options-actions .button {
  margin-left: 0 !important;
}

.block {
  background-color: #FFF;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  padding: 24px;
  margin-bottom: 24px;
  /* max-width: 916px */
}

.block .block_content_wrap {
  /* max-width: 916px */
}

.block.half {
  width: calc(50% - 12px);
}

.block.half .block_content_wrap {
  max-width: 446px;
}

.block i {
  font-size: 18px;
}

.block a {
  color: #1791D6;
}

.block a:hover {
  border-bottom: 1px dotted;
}

.block .headline-2 i {
  color: #A2A5AB;
}

.block .right_side_child {
  float: right;
  width: 196px;
  margin-top: -32px;
}

.block .right_side_child ul {
  line-height: 1.5;
}

.block .block_content {
  position: relative;
}

.block .block_content.by_side {
  width: calc(100% - 196px);
}

.block .block_child {
  margin-top: 16px;
}

.block .cloudtags {
  margin-left: auto;
  margin-right: auto;
}

.chart {
  position: relative;
  height: auto !important;
}

.chart.iconSide_chart i {
  font-size: 48px;
  width: 48px;
  text-align: center;
  vertical-align: middle;
}

.chart.iconSide_chart.sex_chart i {
  width: 36px;
}

.chart.iconSide_chart li[data-percent] + li[data-percent] {
  margin-top: 16px;
}

.chart.iconSide_chart li[data-percent]:after {
  content: attr(data-percent) "%";
  font-size: 20px;
  line-height: 48px;
  display: inline-block;
  margin-left: 30px;
  vertical-align: middle;
}

.chart.iconSide_chart li[data-targetTitle][data-percent] {
  position: relative;
}

.chart.iconSide_chart li[data-targetTitle][data-percent]:before {
  content: attr(data-targetTitle);
  white-space: nowrap;
  position: absolute;
  left: 48px;
  top: 56%;
  font-size: 14px;
  padding-left: 32px;
}

.chart.iconSide_chart li[data-targetTitle][data-percent]:after {
  vertical-align: top;
  line-height: 32px;
}

.chart.column_chart {
  padding: 24px 0;
}

.chart.column_chart > li {
  position: relative;
  width: 40px;
  height: 84px;
  background-color: #EFF0F3;
  float: left;
  margin-left: 8px;
}

.chart.column_chart > li:first-child {
  margin-left: 0;
}

.chart.column_chart > li > span {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #1791D6;
  width: 100%;
}

.chart.column_chart > li:before {
  content: attr(data-percent) "%";
  width: 100%;
  position: absolute;
  bottom: 100%;
  line-height: 24px;
  color: #CCCED2;
  font-size: 12px;
  text-align: center;
}

.chart.column_chart > li:after {
  content: attr(data-targetTitle);
  width: 100%;
  position: absolute;
  top: 100%;
  line-height: 24px;
  color: #373D49;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
}

.chart.chart_list {
  line-height: 24px;
  font-size: 14px;
}

.chart.chart_list li:last-child {
  opacity: 0.5;
}

.chart.row_chart li {
  margin-left: 50px;
  position: relative;
  height: 16px;
  margin-top: 8px;
  background-color: #EFF0F3;
}

.chart.row_chart li:first-child {
  margin-top: 0;
}

.chart.row_chart li > span {
  display: block;
  height: 100%;
  float: left;
  transition: 0.05s transform cubic-bezier(0.77, 0.15, 0.48, 1.38);
}

.chart.row_chart li > span.bvalue {
  float: right;
  background-color: rgba(0, 0, 0, 0.1);
}

.chart.row_chart li > span:before {
  content: attr(data-title);
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  vertical-align: top;
  color: #fff;
  padding: 0 4px;
}

.chart.row_chart li > span.bvalue:before {
  float: right;
}

.chart.row_chart li > span:hover {
  transform: scaleY(1.25) scaleX(1.03);
  z-index: 1;
}

.chart.row_chart li:before {
  content: attr(data-targetTitle);
  position: absolute;
  line-height: 16px;
  font-size: 14px;
  right: 100%;
  width: 50px;
  top: 0;
}

.chart.div_age_chart li span.avalue {
  background-color: #58BCF8;
}

.chart.div_age_chart li span.bvalue {
  background-color: #EF4C7B;
}

.chart.pie_chart {
  width: 114px;
  height: 114px;
}

.chart.pie_chart text {
  display: none;
}

.chart .female {
  color: #EF4C7B;
}

.chart .male {
  color: #58BCF8;
}

.chart .city {
  color: #9357C8;
}

.chart .country {
  color: #F5A623;
}

.pie_chart_wrap {
  position: relative;
}

.pie_chart_wrap .chart,
.pie_chart_wrap .pie_chart_label {
  float: left;
}

.pie_chart_wrap .chart {
  margin: -9px;
}

.pie_chart_wrap .pie_chart_label {
  position: absolute;
  top: 0;
  left: 136px;
  padding: 0;
}

.pie_chart_wrap .pie_chart_label:hover li {
  opacity: 0.5;
}

.pie_chart_wrap .pie_chart_label li {
  line-height: 20px;
  padding-left: 0;
  font-size: 14px;
  cursor: default;
  position: relative;
  transition: 0.1s all ease;
}

.pie_chart_wrap .pie_chart_label li:hover {
  opacity: 1;
}

.pie_chart_wrap .pie_chart_label li:after {
  content: "";
  position: absolute;
  top: 4px;
  left: -6px;
  width: 12px;
  height: 12px;
  box-shadow: -12px 0;
}

.pie_chart_wrap .pie_chart_label li:before {
  content: attr(data-value) "%";
  display: inline-block;
  width: 28px;
  text-align: right;
  margin-right: 4px;
}

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  .block:not(.half) .cloudtags {
    transform: scale(1.3);
  }
}

@media screen and (min-width: 1600px) {
  .block.half .block_content_wrap {
    max-width: 90%;
  }
  .chart.row_chart li {
    height: 24px;
    line-height: 24px;
  }
  .chart.row_chart li > span:before {
    line-height: 24px;
    padding: 0 8px;
  }
  .chart.row_chart li:before {
    line-height: 24px;
  }
  .chart.pie_chart {
    width: 180px;
    height: 180px;
  }
  .chart.column_chart li {
    width: 50px;
    height: 114px;
  }
  .chart.iconSide_chart i {
    width: 64px;
    font-size: 64px;
  }
  .chart.iconSide_chart.sex_chart i {
    width: 48px;
  }
  .chart.iconSide_chart li[data-percent]:after {
    font-size: 24px;
  }
  .chart.iconSide_chart li[data-targetTitle][data-percent]:before {
    font-size: 16px;
    left: 64px;
  }
  .chart.chart_list li {
    font-size: 18px;
    line-height: 32px;
  }
  .pie_chart_wrap .pie_chart_label {
    left: 220px;
  }
  .pie_chart_wrap .pie_chart_label li {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1920px) {
  .block.half .block_content_wrap {
    max-width: 100%;
  }
  .block:not(.half) {
    width: calc(50% - 12px);
    float: left;
  }
  .block:not(.half) + .block:not(.half) {
    float: right;
  }
  .block:not(.half) .cloudtags {
    transform: translate(-50px, 0);
  }
  .chart.row_chart {
    margin-bottom: 16px;
  }
  .chart.column_chart {
    margin-bottom: 16px;
  }
  .chart.column_chart li {
    width: 50px;
    height: 128px;
  }
  .block.half {
    width: calc(33.33% - 16px);
    margin-right: 24px;
    margin-left: 0;
  }
  .block.half + .float-right {
    float: left;
  }
  .block.half + .float-right + .float-right {
    float: right;
    margin-right: 0;
  }
  .block.half + .float-right + .float-right + .float-left {
    float: right;
    margin-right: 0;
  }
}

@media screen and (max-width: 1170px) {
  .block:not(.half) .cloudtags {
    transform: translate(-80px, 0) scale(0.95);
  }
  header.header .header_menus .right_menu #header_menu > li {
    margin-right: 24px;
  }
}
